{%load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href={%static "css/style_1.css" %}>
    <title>Jirisan Weather</title>

</head>
<body>
  <script>
    window.location.replace("https://endigoai.com/"); // 리다이렉트
  </script>
{#<br><br><br><br>#}
{#<div class="container text-center">#}
{#    <div class="row align-items-center">#}
{#    <div class="row">#}
{#        <div class="col-12 col-md-6" id="col_left">#}
{#            <a href="https://meta-deogam.com/VErF3ot" target="_blank">#}
{#                <img src={%static "img/main.png" %} class="img-fluid rounded" alt="main" id="img_main">#}
{#            </a>#}
{#        </div>#}
{#        <div class="col-12 col-md-6" id="col_right">#}
{#            <div class="row align-items-center">#}
{#                <div class="col-1">#}
{##}
{#                </div>#}
{#                <div class="col">#}
{#                    <h1>뱀사골 요룡대 단풍 현황</h1>#}
{#                    <img src={%static "img/sub_2.jpg" %} class="mx-auto d-block img-fluid rounded" alt="logo">#}
{#                    <h6>뱀사골 요룡대 단풍 현황</h6>#}
{#                </div>#}
{#            </div>#}
{#            <br>#}
{#            <div class="row style=" height: 100%;">#}
{#                <h3>현재 지리산의 날씨가 궁금하다면?</h3>#}
{#                <br><br>#}
{#                <a type="button" class="btn btn-primary btn-lg" href="https://www.weather.go.kr/w/theme/mountain-weather.do?groupId=156&mtId=11F016P0">산악기상정보 보러가기</a>#}
{#            </div>#}
{#            <br><br>#}
{#            <div class="row style=" height: 100%;">#}
{##}
{#                <h3>AI 챗봇에게 궁금한 점을 물어보세요</h3>#}
{#                <br><br>#}
{#                <a type="button" class="btn btn-primary btn-lg" href="http://3.34.108.56/endigo/">AI 챗봇 물어보기</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>#}

</body>
</html>